/.phpunit.result.cache
/node_modules
/vendor
/storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs/*.log
/storage/pail
/database/database.sqlite
/database/database.sqlite-journal
/database/database.sqlite-shm
/database/database.sqlite-wal
/bootstrap/cache/*.php
/.env
/.env.backup
/.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
